.aboutSection {
  min-height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.heading {
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  color: #636a6e;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card {
  border: 1px solid #d58d8d;
  border-radius: 1rem;
  padding: 2rem;
  transition: transform 0.3s ease;
  
}

.card:hover {
  transform: translateY(-4px);
}

.description {
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  color: #636a6e;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  
  margin: 0 auto 2rem;
  text-align: left;
}

.skillsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {

  .description{
    font-size: 1.4rem;
  }

  .aboutSection{
    padding-top: 0rem;
  }
  .skillsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.skillBlock {
 width: 75%;
  border-radius: 1rem;
  transition: transform 0.3s ease;

}

.skillBlock:hover {
  transform: translateY(-4px);
}

.skillTitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #636a6e;
  letter-spacing: 0.05rem;
}

.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badge {
  background-color: #d58d8d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.badge:hover {
  background-color: #ffdd44;
  color: #636a6e;
}
